.container {
  text-align: center;
  margin-top: 50px;
}

.input-container {
  margin-top: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px; /* 1rem */
  width: 300px;
}

li {
  text-align: left;
  margin-bottom: 10px;
}
.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

li > button {
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

#taskList {
  /* border: 1px solid #007bff; */
  width: fit-content;
  padding: 20px 40px 15px 55px;
}

#taskList:has(li) {
  border: 1px solid #007bff;
}
